#container,#pie{position:static;background:0 0}
*{margin:0;padding:0}
//este es el cuerpo body{height:100%;background:0 0,0 0}
//esta es la barra de menu nav{height:7.5%}
.nav{position:static}
#container{width:100%;height:75%}
#pie{height:17.5%;float:left}