<!DOCTYPE html>
<html>
  
  <head>
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
     <title>CSV Analyzer</title>
     <link rel="stylesheet" href="../public/stylesheets/global.css" type="text/css">
     <link rel="stylesheet" href="../public/stylesheets/main.css" type="text/css">
     
     <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
     <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
     <script src="../public/javascripts/csv.js" type="text/javascript"></script>
     <script src="../public/javascripts/main.js" type="text/javascript"></script>
      <script type="text/html" id='fillTable'>
       <table id="result" class="center">
         <% _.each(items, function(name) { %>
           <tr class="<%= name.rowClass %>">
             <% _.each(name.value, function(cell) { %>
               <td><%= cell %></td>
             <% }); %>
           </tr>
         <% }); %>
       </table>
     </script>

  </head>
  
  <body>
    <div>
      <nav id="nav" role="navigation">
	          <ul class="menu">
              <li><a href="https://github.com/ULL-ESIT-GRADOII-DSI/localstorage-jquery-underscore-express-sass-heroku-alex-javi-moi-2" title="Repositorio Github" >Repositorio Github</a></li>
              <li><a href="#" title="Páginas">Páginas Personales</a>
                  <ul id="paginas">
                      <li><a href="http://alu0100767421.github.io">Alexander</a></li>
                      <li><a href="http://alu0100505009.github.io">Javier</a></li>
                      <li><a href="http://alu0100782851.github.io">Moisés</a></li>
                  </ul>
              </li>
              <li><a href="https://campusvirtual.ull.es/1516/mod/page/view.php?id=187375" title="Descripcion">Descripción de la Práctica</a></li>
            </ul>
      </nav>
    </div>
    
        <div id="container">
      <div id="izquierda">
        
        <div id="titulo">
          <h1>Comma Separated Value Analyzer<br><br></h1>
        </div>
        
        <div id="ayuda">
            <div id="arriba">
              <p>Escriba una cadena CSV y pulse el boton para comprobar su funcionamiento</p>
              <p>Le dejamos los siguientes ejemplos para que comprenda su formato</p>
            </div>
            
            <div id="izqui">
              <p>Correcto: <br><br></p>
              <p>"Hola","Juan"<br> "Como","Estas"</p>
            </div>
            <div id="dere">
              <p>Inorrecto: <br><br></p>
              <p>"Hola","Juan"<br> "Como","Estas","Hoy"</p>
            </div>
            
        </div>
      </div>
      
      <div id="derecha">
        <div id="tabla">
          <table>
            <tr>
              <th>Introduzca aqui la cadena CSV</th> <!-- autofocus attribute is HTML5 -->
            </tr>
            
            <tr>
              <td>
                <textarea autofocus cols = "60" rows = "5" id="original"></textarea>
              </td> 
            </tr>
            
          </table>
        </div>
        <div id="final">
          <button type="button" onclick="crear();">Crear Tabla</button>
          <button type="button" onclick="limpiar();">Limpiar Tabla</button><br><br>
          <span class="output" id="finaltable"></span>
        </div>
        
      </div>
    </div>
    <div id="pie">
        <div id="desarrollo">
            <p>Universidad de La Laguna</p>
            <p>Desarrollo de Sistemas Informáticos</p>
            <p>Elaborado por Alexander Cole Mora, Javier Pestano Ron y Moisés Yanes Carballo</p>
        </div>
        
    </div>
  </body>

</html>