<!DOCTYPE html>
<html>
  
  <head>
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
     <title>CSV Analyzer</title>
     <link href="/stylesheets/global.css" rel="stylesheet" type="text/css">
     <link href="/stylesheets/main.css" rel="stylesheet" type="text/css">
     
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
     <script type="text/javascript" src="/javascripts/main.js"></script>
  </head>
  
  <body>
    <div>
      <nav id="nav" role="navigation">
	          <ul class="menu">
              <li><a href="https://github.com/ULL-ESIT-GRADOII-DSI/localstorage-jquery-underscore-express-sass-heroku-alex-javi-moi-2" title="Repositorio Github" >Repositorio Github</a></li>
              <li><a href="#" title="Páginas">Páginas Personales</a>
                  <ul id="paginas">
                      <li><a href="http://alu0100767421.github.io">Alexander</a></li>
                      <li><a href="http://alu0100505009.github.io">Javier</a></li>
                      <li><a href="http://alu0100782851.github.io">Moisés</a></li>
                  </ul>
              </li>
              <li><a href="https://campusvirtual.ull.es/1516/mod/page/view.php?id=187375" title="Descripcion">Descripción de la Práctica</a></li>
            </ul>
      </nav>
    </div>
    
    <%- body %>
  
    <div id="pie">
      <div id="desarrollo">
          <p>Universidad de La Laguna</p>
          <p>Desarrollo de Sistemas Informáticos</p>
          <p>Elaborado por Alexander Cole Mora, Javier Pestano Ron y Moisés Yanes Carballo</p>
      </div>
    </div>

  
  </body>

</html>