
*{
    margin: 0;
    padding: 0;
}

//este es el cuerpo
body {
  background:{
     color:white; 
  }
  font: {
    family: Arial, sans-serif;
    size: 100;
    weight: normal;
  }
}



//esta es la barra de menu

nav{
  
  ul {
      list-style: none;
      background-color: black;
  }
  >ul{
     position: relative;
        display: table;
        width: 100%;
  }
  
  >ul li{
    display: table-cell; 
  }
 
  > ul > li:hover > ul{       
        display: block;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        
  }
  ul li ul{                   
        display: block;
        position: absolute;
        background: black;    
        width: auto;
    
  }
  ul li #paginas li {          
        width: auto;
  }
   ul li #repos li {            
        width: auto;
  }

  > ul > li > ul{             
        display: none; 
  }


  > ul li a{                  
        color: white;
        display: block;
        line-height: 25px;
        padding: 12.5px;
        position: relative;
        text-align: center;
        text-decoration: none;
  }

   ul li a:hover{
        background: white;      
        color: black;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
  }
  
}



.nav{
  position: static;
}




.container{
  
}


.pie{
  
}